.button {
  width: 200px;
  height:44px;
  background-color:$main;
  color:white;
  display:flex;
  justify-content:center;
  align-items:center;
  transition:all 0.5s;
  &:hover {
    cursor:pointer;
  }
}
.border {
  border: 1px solid $grey;
}
