
$screen:1920;
$container-size:1170;
$container:1130px;

$color:#232323;
$main_dark:#041E42;
$main:#0170DD;
$grey:#E6E8EC;
$text_grey:#696969;
$dark_grey:#555555;

$font1:'Montserrat', sans-serif;
$font2:'Inter', sans-serif;
$size:rem(18);

$sm: 540px;
$md: 720px;
$lg: 960px;
$xl: $container;
