@media (max-width: $sm){
  .header__search{
    position:fixed;
    z-index: 2;
    button{
      background-color:$main;
    }
    top:300px;
    right:0;
    display: none;
    justify-content: center;
    width:80vw;
  }
  .opinion__form{
    input,textarea{
      width:250px;
    }
  }
  /*auth*/
  .login,.register{
    input{
      width:150px;
      height: 40px;
      font-size: rem(12)
    }
    button{
      width:200px;
      height:40px;
    }
  }
  .google{
    width:140px;
  }
  .facebook{
    width:144px;
  }
  .login-socials__block{
    gap:12px;
  }
}
