@media (max-width: $sm){
  .header__search{
    position:fixed;
    z-index: 2;
    button{
      background-color:$main;
    }
    top:300px;
    right:0;
    display: none;
    justify-content: center;
    width:80vw;
  }
  .opinion__form{
    input,textarea{
      width:250px;
    }
  }
  /*auth*/
  .login,.register{
    input{
      width:150px;
      height: 40px;
      font-size: rem(12)
    }
    button{
      width:200px;
      height:40px;
    }
  }
  .google{
    width:140px;
  }
  .facebook{
    width:144px;
  }
  .login-socials__block{
    gap:12px;
  }
  /*user*/
  .user{
    input{
      width:250px;
      height: 44px;
    }
  }
  .user__form-half{
    input{
      width:90px;
    }
  }
  /*cart*/
  .cart__header-item{
    &::before{
      color: #000;
      background-color: transparent;
      font-weight:bold;
      width:auto;
      height:auto;
    }
    font-size:rem(10);
  }
  .cart__item-active::before{
    text-decoration:underline;
    color: $main;
  }
  .cart_item{
    flex-wrap:wrap;
    width:45%;
    justify-content:center;
  }
  .cart__delete{
    top:5px;
    left:5px;
  }
  /*input*/
  .input-form{
    input{
      width:220px;
    }
    textarea{
      width:220px
    }
  }
  .two-input{
    width:300px;
    input{
      width:75px;
    }
  }
  .verify-form{
    align-items:center;
    &-wrapper{
      padding:12px;
    }
  }
  .verify-form-consents{
    padding:12px;
  }
  .contact-info{
    padding:12px;
  }
  .contact-form{
    padding:12px;
    align-items:center;
  }
  /*admin*/
  .admin-slider__image{
    img{
      width:270px;
    }
  }
}
