@media (max-width: $sm){
  .header__search{
    position:fixed;
    z-index: 2;
    button{
      background-color:$main;
    }
    top:300px;
    right:0;
    display: none;
    justify-content: center;
    width:80vw;

  }
}
