.user{
  display:flex;
  gap:100px;
  position:relative;
}
.user-wrapper{
  margin-top:44px;
}
.user-flex-content{
  display:flex;
  gap:30px;
  flex-wrap:wrap;
}
.user-side-close, .user-side-button{
  display:none;
  &:hover{cursor:pointer}
}
.user-main{
  h1{
    font-size:rem(24);
    font-weight:500;
    margin-bottom:44px;
  }
  .form-button-right{
    a{
      margin-top:12px;
      color:$main;
    }
  }
  width:100%;
}

.user-info-main, .user-info_delivery{
  padding:24px;
  width:350px;
  color:$dark_grey;
  border: 1px solid $grey;
  h1{
    font-size: rem(18);
    color:$dark_grey;
  }
}
.user-info_delivery{
  h1{
    margin-bottom:24px;
  }
}
.user-info__item{
  padding:12px 0;
  border-bottom: 1px solid $grey;
  display:flex;
  font-size:rem(16);
  flex-direction: column;
  gap: 8px;
}
.info__delivery-item{
  line-height:24px;
  font-size: rem(16);
}
.user-info__item-subtitle{
  font-weight:500;
}
.user{
  input{
    width:420px;
    padding:0 24px;
    height: 54px;
    border:1px solid $grey;
    outline:none;
    &:focus{
      border:1px solid $main;
    }
  }
  button{
    width:200px;
    height: 44px;
    color:white;
    background-color:$main;
    border:none;
    &:hover{cursor:pointer}
  }
}
.user-password{
  padding:24px;
  display:flex;
  gap:24px;
  flex-direction: column;
  width:350px;
  height:178px;
  input{
    width:326px;
    height:40px;
    padding:0 12px;
    border: 1px solid $grey;
    color:$dark_grey;
    outline:none;
    &:focus{
      border:1px solid $main;
    }
    &::placeholder{
      color:$text_grey;
    }
  }
  button{
    width:200px;
    height: 44px;
    color:#fff;
    background-color:$main;
    border:none;
    &:hover{cursor:pointer}
  }
}
.user__side-panel{
  border-right:1px solid $grey;
  background:#fff;
  li{
    padding:10px 0;
    padding-left:12px;
    width:188px;
    min-height:24px;
    position:relative;
    &:hover{
      background-color: rgba(230, 232, 236, 0.5);
      &::before{
        content:"";
        left:0;
        top:0;
        width:5px;
        height:44px;
        position:absolute;
        background-color:$main_dark;
      }
    }
    a{
      display:flex;
      align-items:center;
      gap:8px;
      font-weight:500;
      font-size:rem(16);
    }
  }
}
.user__main-header{
  display:flex;
  gap:24px;
  align-items:center;
  margin-bottom:44px;
  h1{
    margin:0;
  }
}
.user-content{
  form{
    display:flex;
    flex-direction:column;
    gap:24px;
  }
}
.user__form-half{
  input{
    width:170px;
  }
  display:flex;
  justify-content:space-between;
}
.order{
  padding:24px;
  width:219px;
  font-size:rem(14);
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  gap:24px;
}
.order-body{
  display:flex;
  flex-direction:column;
  gap:24px;
}
.order-button{
  border-radius:0;
  margin:0 auto;
}
.order-item{
  display:flex;
  justify-content:space-between;
  align-items:center;
  span{
    width:76px;
    text-align:left;
    font-weight:500;
  }
}
.order-nr{
  font-size:rem(18);
  font-weight:500;
}
.user-orders{
  display:flex;
  flex-wrap:wrap;
  gap:30px;
}

.order-detail-wrapper{
  display:flex;
  gap:12px;
  padding:24px;
  justify-content:space-between;
  flex-wrap:wrap;
}

.order-detail-item{
  &:last-child{
    margin-top:24px;
  }
  font-size:rem(16);
  p:first-child{
    font-weight:500;
    margin-bottom:12px;
  }
}
.product-orders{
  margin-top:44px;
  h1{
    margin-bottom:20px;
    span{
      font-size:rem(16);
      font-weight:normal;
    }
  }
  display:flex;
  flex-direction:column;
  gap:24px;
}

.product-order{
  img{
    width:100px;
    height:100px;
  }
  padding:24px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  gap:24px;
  flex-wrap:wrap;
}
.product-order-info-text{
  h2{
    font-size:rem(18);
    font-weight:500;
  }
  p{
    font-size: rem(14);
    color:$text_grey;
  }
}
.product-order-info{
  display:flex;
  gap:24px;
}
.product-order-price{
  font-size:rem(14);
  span{
    font-weight:500;
    font-size:rem(18);
  }
  display:flex;
  gap:44px;
}
.liked-products{
  display:flex;
  gap:29px;
  flex-wrap:wrap;
}
